@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var pageFromGui = Umbraco.Content(Guid.Parse("82ea2cd3-7072-4332-ba0b-835cab9bd632"));
}

<h3>@pageFromGui.Value("copyrightText")</h3>

@{
if(@Model.Value("copyrightText") == null){
<div>NOOOOO</div>
}

}
