@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="subscribe-bar">
    <div class="container">
        <h2>Get News Updates By Signup</h2>
        <div class="input-btn">
            <input type="email" placeholder="username@domain.com"/>
            <a href="" class="button-theme">Subscribe<i class="fa-regular fa-arrow-up-right"></i> </a>
        </div>
    </div>
    <img src="~/static/background-wavy-lines.svg">
</section>