@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.OurServicesFeatured)Model.Content;

}

<div class="_card">
    <h4>@content.Value("ourServiceFeaturedTitle")</h4>
    <p>@content.Value("ourServiceFeaturedDescription")</p>
    <a href="@content.Value("ourServiceFeaturedLink")" class="button-round"><i class="fa-light fa-arrow-right"></i></a>
    <div class="line"></div>
</div>